/*--- Common styles: mixins, variables ---*/
.task {
  margin: 10px 0;
  height: 32px;
  padding: 5px 37px 5px 5px;
  border: 1px dotted #808080;
  position: relative; }
  .task:hover {
    background-color: #ffde31d9;
    cursor: pointer; }
  .task .avatar {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 32px; }
  .task .tooltip {
    position: absolute;
    font-size: 70%;
    background-color: rgba(162, 196, 243, 0.5); }
