@import '../../common/constants.scss';

.task {
  margin: 10px 0;
  padding: 5px 37px 5px 5px;
  border: 1px dotted $LIGHT_GREY;
  position: relative;

  &:hover {
    background-color: $YELLOW_ORANGE;
    cursor: pointer;
  }

  .avatar {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 32px;
  }

  .tooltip {
    position: absolute;
    font-size: 70%;
    background-color: rgba(162,196,243,0.5);
  }
}
