@import '../../common/constants.scss';
@import '../../common/common-styles.scss';
/*--------------------------*/

.board {
  height: 100%;
  background-color: #F6F9F9;
  font-family: 'Josefin Slab', serif;

  &__header {
    padding: $HEADER_PADDING;
    border-bottom: 1px dashed $LIGHT_GREY;

    &__heading {
      @include font-size(20px);
      margin-bottom: 20px;
    }
  }

  &__controls {
    @include font-size(16px);
    display: grid;
    grid-template-columns: 1fr 50px;
  }

  .add-button {
    background-image: url("../../images/add.png");
    background-repeat: no-repeat;
    background-position: 15px 0;
    background-size: 18px;
    width: 50px;
    height: 18px;

    &:hover {
      background-image: url("../../images/add-hover.png");
    }
  }
}
