/*--- Common styles: mixins, variables ---*/
.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); }
  .popup__form__label {
    display: block; }
  .popup .popup_inner {
    position: relative;
    height: 250px;
    width: 50%;
    background: white;
    padding: 50px; }
  .popup .popup__form__group {
    margin: 15px 0; }
  .popup .popup__form__control {
    width: 90%;
    height: 25px;
    padding: 0 5px;
    margin-top: 5px;
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #808080; }
    .popup .popup__form__control_invalid {
      border-color: #c77db3; }
  .popup .popup__form__select {
    width: 45%; }
  .popup .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("../../images/close1.png");
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px; }
    .popup .close-button:hover {
      background-image: url("../../images/close1-hover.png"); }
  .popup .submit-button {
    background-color: #a2c4f3;
    border: none;
    border: 1px dotted #808080;
    height: 35px;
    color: #fff; }
    .popup .submit-button:disabled, .popup .submit-button[disabled] {
      cursor: not-allowed;
      pointer-events: none;
      /*Button disabled - CSS color class*/
      color: #c0c0c0;
      background-color: #ffffff; }
    .popup .submit-button:hover {
      background-color: #6F898D;
      border-color: #a2c4f3; }
  .popup .two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .popup.popup__creating-mode .selector-with-images {
    width: 50%; }
  .popup.popup__creating-mode .assignee-group {
    width: fit-content; }
