/*--- Common styles: mixins, variables ---*/

//ICONS
// https://www.flaticon.com/free-icon/add_738882#term=plus&page=2&position=49 PLUS

//COLORS
$LIGHT_BLUE: #a2c4f3;
$LIGHT_GREY: #808080;
$HOVER_BUTTON_GREY: #6F898D;
$WHITE_COLOR: #fff;
$LIGHT_PINK: #c77db3;
//
$HEADER_PADDING: 30px;

$base-font-size: 14px;
@mixin font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size/$base-font-size)*1rem;
}

/*--------------------------*/

.board {
  height: 100%;
  background-color: #F6F9F9;
  font-family: 'Josefin Slab', serif;

  &__header {
    padding: $HEADER_PADDING;
    border-bottom: 1px dashed $LIGHT_GREY;

    &__heading {
      @include font-size(20px);
      margin-bottom: 20px;
    }
  }

  &__controls {
    @include font-size(16px);
    display: grid;
    grid-template-columns: 1fr 50px;
  }

  .add-button {
    background-image: url("./add.png");
    background-repeat: no-repeat;
    background-position: 15px 0;
    background-size: 18px;
    width: 50px;
    height: 18px;

    &:hover {
      background-image: url("./add-hover.png");
    }
  }

  .button {
    cursor: pointer;
  }

}

.board__columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: calc(100% - 121px);

  .column {
    padding: 20px;
  }

  .column:nth-child(even) {
    background-color: $LIGHT_BLUE;
  }
}

.task {
  margin: 10px 0;
  padding: 5px;
  border: 1px dotted $LIGHT_GREY;
  position: relative;

  .edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 18px;
    width: 18px;
    background-image: url("./doughnut.png");
    background-repeat: no-repeat;
    background-size: 18px;

    &:hover {
      background-image: url("./doughnut-hover.png");
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);

  &__form {
    &__label {
      display: block;
    }
  }
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  padding: 30px;

  .popup__form__group {
    margin: 15px 0;

    .popup__form__control {
      width: 90%;
      height: 25px;
      padding: 0 5px;
      margin-top: 5px;
      font-family: 'Josefin Slab', serif;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border-color: $LIGHT_GREY;

      &--invalid {
        border-color: $LIGHT_PINK;
      }
    }
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url("./close1.png");
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;

  &:hover {
    background-image: url("./close1-hover.png");
  }
}

.submit-button {
  background-color: $LIGHT_BLUE;
  border: none;
  border: 1px dotted $LIGHT_GREY;
  height: 35px;
  color: $WHITE_COLOR;

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;

    /*Button disabled - CSS color class*/
    color: #c0c0c0;
    background-color: #ffffff;
  }

  &:hover {
    background-color: $HOVER_BUTTON_GREY;
    border-color: $LIGHT_BLUE;
  }
}

.form-error {
  height: 10px;
  font-size: 10px;
  color: $LIGHT_PINK;
}
